:root {
    --background: #09192e;
    --font-color: #f0f8ff;
    --letter-fill: #7c7676;

    --warm: #857d1a;
    --hot: #286310;

    --tile-size: 64px;
    --guessed-tile-size: 42px;

    --shake-intensity: 100px;
}

body {
    text-align:center;
    vertical-align:middle;
    font-size: 24px;
    font-family: 'Gaegu', sans-serif;
    background-color: var(--background);
    
    color: var(--font-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;

    padding: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0px;
    display: grid;
}

@keyframes shake {
    0% {margin-left: 0;}
    20% {margin-left: calc(var(--shake-intensity) * -1);}
    40% {margin-left: var(--shake-intensity);}
    60% {margin-left: calc(var(--shake-intensity) * -1);}
    80% {margin-left: var(--shake-intensity);}
    100% {margin-left: 0};
}

row {
    display: inline-flex;
}

row.shaking {
    animation: shake 1s ease-in-out;
}

@keyframes pulse {
    0% {scale: 0.85;}
    20% {scale: 1.15;}
    100% {scale: 1;}
}

#letter_tile {
    height: var(--tile-size);
    width: var(--tile-size);

    margin: 2px;

    border: 2px solid var(--letter-fill);

    display: flex;
    align-items: center;
    justify-content: center;
}

#letter_tile.pulsing {
    animation: pulse 0.25s ease-in-out;
}

#guessed_letter_tile {
    height: var(--guessed-tile-size);
    width: var(--guessed-tile-size);

    margin: 2px;

    border: 2px solid var(--letter-fill);

    display: flex;
    align-items: center;
    justify-content: center;
}

.blank {
    background-color: var(--background);
}

.cold {
    background-color: var(--letter-fill);
}

.warm {
    background-color: var(--warm);
}

.hot {
    background-color: var(--hot);
}

#announcement {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: auto;

    max-height: 40px;
    max-width: 225px;

    font-size: 22px;
    padding: 20px;
    text-align: center;
    background-color: rgb(72, 72, 72);
    border-radius: 15px;
    animation: fadeout 4s 2s;
    animation-fill-mode: forwards;
    
    align-items: center;
    justify-content: center;
}

@keyframes fadeout {
    from {opacity: 100%;}
    to {opacity: 0%;}
}